@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #157aff;
  --primary-text: #98c4fe;
  --primary-dull-text: #2b72cf;
  --secondary-text: #2e507d;
  --tertiary: #072e7c;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.file {
  background-image: url(../public/assets/file.png);
  background-size: cover;
  background-position: center;
}

.cursor {
  cursor: url("/assets/cursor_p.png") auto;
}

.line-height {
  line-height: 120px;
}

.ai-bg-1 {
  background-image: url(../public/assets/ai-bg-2.png);
  background-size: cover;
  background-position: center;
}

/* looping animation infinite*/
@keyframes scroll {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 30s linear infinite;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
  background: #05292a;
}

.custom-scrollbar-button::-webkit-scrollbar-thumb {
  width: 4px;
  border-radius: 10px;
  background: #55a7ff;
}


@keyframes wave {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}